nav {
    background-color: rgb(0, 48, 63) ;
    grid-column: 8/ span 3;

    place-content: center end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
    margin: 0px 10px 0px 10px
}

nav ul li a {
    color: aliceblue;
    font-size: 1.5rem;
}

nav ul li a {
    color: aliceblue;
    font-size: 1.5rem;
}

nav ul li a:visited {
    color: rgb(175, 146, 255);
    font-size: 1.5rem;
}

nav ul li a:hover{
    color: rgb(255, 202, 152);
    font-size: 1.5rem;
}